# Deliverable 1. Retrieve Weather Data.
---
1. Create a folder called `Weather_Database` to save all the files related with this deliverable.

2. Save the `Weather_Database_starter_code.ipynb` starter code to the `Weather_Database` folder and rename it as `Weather_Database.ipynb`.

3. Use the `np.random.uniform` function to generate a new set of 2,000 random latitudes and 2,000 longitudes.

4. Use the `citipy` module to get the nearest city for each latitude and longitude combination.

5. Import your OpenWeatherMap's API key and assemble the API call URL as a string variable. Recall to edit the `config.py` file to add your API key; also, it's critical to avoid publishing your API key on your GitHub repository.

6. Retrieve the following information from the API call:

    * Latitude and longitude

    * Maximum temperature

    * Percent humidity

    * Percent cloudiness

    * Wind speed

    * Weather description (for example, clouds, fog, light rain, clear sky)

7. Add the weather data to a new DataFrame.

8. Export the DataFrame as a CSV file, and save it as `WeatherPy_Database.csv` in the `Weather_Database` folder.
---

In [10]:
# Import initial libraries
import numpy as np
import pandas as pd
from citipy import citipy

## Use the `np.random.uniform` function to generate a new set of 2,000 random latitudes and 2,000 longitudes.

In [11]:
# Create a set of random latitude and longitude combinations
lats = [42.5, 43.9, 8.1, 36.8, 79.9, 69.1, 25.7, 15.3, 12.7, 64.5]
lngs = [-77.1, -34.7, -9.0, -4.2, 5.2, 36.7, 56.1, 78.8, 12.7, -90.2]

# Use the zip function to create an iterator of tuples containing the latitude and longitude combinations
lat_lngs = zip(lats, lngs)

In [12]:
# Add the latitudes and longitudes to a list
coordinates = lat_lngs

## Use the `citipy` module to get the nearest city for each latitude and longitude combination.

In [13]:
# Create an empty list for holding the cities
cities = []

# Use a for loop to identify nearest city for each latitude and longitude combination using the citipy module
for coordinate in coordinates:
    # Use the citipy module to identify the nearest city to the current coordinate
    city = citipy.nearest_city(coordinate[0], coordinate[1]).city_name
    
    # If the city is unique, then add it to a our cities list
    if city not in cities:
        cities.append(city)

# Print the city count to confirm sufficient count
len(cities)

10

## Import your OpenWeatherMap's API key and assemble the API call URL as a string variable. Recall to edit the `config.py` file to add your API key.

In [14]:
# Import the requests library
import requests

# Import the time library
import time

# Import the datetime module from the datetime library
from datetime import datetime

# Import the OpenWeatherMap's API key
from config import weather_api_key

In [15]:
# Assemble the OpenWeatherMap's API call
url = "http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=" + weather_api_key
print(url)

http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=9238727c7158ceca2ba4693bf673118a

## Retrieve the following information from the API call.

- The latitude and longitude
- The Max temperature
- The % humidity
- The % cloudiness
- The Wind speed
- The Weather description, i.e., cloudy, fog, light rain, clear sky, etc.

In [16]:
# Create an empty list to hold weather data for each city
city_data = []

# Print a message to indicate that the data retrieval starts
print("Beginning Data Retrieval     ")
print("-----------------------------")

# Create counters and set them to 1
record_count = 1
set_count = 1

# Loop through all the cities in our list to fetch weather data for each city
for i, city in enumerate(cities):
        
    # Group cities in sets of 50 for logging purposes
    if (i % 50 == 0 and i >= 50):
        set_count += 1
        record_count = 1
        time.sleep(60)

    # Create an endpoint URL for each city
    city_url = url + "&q=" + city.replace(" ","+")
    
    # Log the url, record, and set numbers
    print(f"Processing Record {record_count} of Set {set_count} | {city}")

    # Add 1 to the record count
    record_count += 1

    # Run an API request for each of the cities
    try:
        city_weather = requests.get(city_url).json()
        
        # Parse out the latitude, longitude, max temp, humidity, cloudiness, wind, country, and weather description
        city_lat = city_weather["coord"]["lat"]
        city_lng = city_weather["coord"]["lon"]
        city_max_temp = city_weather["main"]["temp_max"]
        city_humidity = city_weather["main"]["humidity"]
        city_clouds = city_weather["clouds"]["all"]
        city_wind = city_weather["wind"]["speed"]
        city_country = city_weather["sys"]["country"]
        
        #Convert the date to ISO standard
        city_date = datetime.utcfromtimestamp(city_weather["dt"]).strftime('%Y-%m-%d %H:%M:%S')
       
        # Append the city information into the city_data list
        city_data.append({"City": city.title(),
                          "Lat": city_lat,
                          "Lng": city_lng,
                          "Max Temp": city_max_temp,
                          "Humidity": city_humidity,
                          "Cloudiness": city_clouds,
                          "Wind Speed": city_wind,
                          "Country": city_country,
                          "Date": city_date})
    
    # If an error is experienced, skip the city
    except:
        print("City not found. Skipping...")
        pass

# Indicate that the data retrieval is complete 
print("-----------------------------")
print("Data Retrieval Complete      ")
print("-----------------------------")

Beginning Data Retrieval
-----------------------------
Processing Record 1 of Set 1 | corning
Processing Record 2 of Set 1 | ribeira grande
Processing Record 3 of Set 1 | nzerekore
Processing Record 4 of Set 1 | velez-malaga
Processing Record 5 of Set 1 | barentsburg
City not found. Skipping...
Processing Record 6 of Set 1 | tumannyy
City not found. Skipping...
Processing Record 7 of Set 1 | sharjah
Processing Record 8 of Set 1 | giddalur
Processing Record 9 of Set 1 | diffa
Processing Record 10 of Set 1 | thompson
-----------------------------
Data Retrieval Complete
-----------------------------

In [17]:
# Print the length of the city_data list to verify how many cities you have
len(city_data)

8

## Add the weather data to a new DataFrame.

In [18]:
# Use the city_data list to create a new pandas DataFrame.
city_data_df = pd.DataFrame(city_data)

In [19]:
# Display sample data
city_data_df.head(10)

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Corning,42.1428,-77.0547,42.17,57,0,0.00,US,2022-12-10 20:05:40
1,Ribeira Grande,38.5167,-28.7000,66.78,82,40,30.00,PT,2022-12-10 20:08:36
2,Nzerekore,7.7562,-8.8179,74.30,51,47,2.21,GN,2022-12-10 20:08:36
3,Velez-Malaga,36.7726,-4.1005,63.55,74,100,6.98,ES,2022-12-10 20:08:36
4,Sharjah,25.3573,55.4033,76.98,41,0,11.50,AE,2022-12-10 20:08:37
5,Giddalur,15.3500,78.9167,71.56,96,99,10.47,IN,2022-12-10 20:08:37
6,Diffa,13.3154,12.6113,73.47,14,0,6.49,NE,2022-12-10 20:08:37
7,Thompson,55.7435,-97.8558,21.36,86,100,3.44,CA,2022-12-10 20:08:38

In [20]:
# Display the DataFrame's column names using the columns Pandas function
city_data_df.columns

Index(['City', 'Lat', 'Lng', 'Max Temp', 'Humidity', 'Cloudiness',
       'Wind Speed', 'Country', 'Date'],
      dtype='object')

In [23]:
# Create a list to reorder the column names as follows:
# "City", "Country", "Lat", "Lng", "Max Temp", "Humidity",  "Cloudiness", "Wind Speed",  "Current Description"
new_column_order = ["City", "Country", "Lat", "Lng", "Max Temp", "Humidity", "Cloudiness", "Wind Speed", "Date"]
# Recreate the DataFrame by using the new column order
city_data_df = city_data_df[new_column_order]

# Display sample data
city_data_df.head()

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Date
0,Corning,US,42.1428,-77.0547,42.17,57,0,0.00,2022-12-10 20:05:40
1,Ribeira Grande,PT,38.5167,-28.7000,66.78,82,40,30.00,2022-12-10 20:08:36
2,Nzerekore,GN,7.7562,-8.8179,74.30,51,47,2.21,2022-12-10 20:08:36
3,Velez-Malaga,ES,36.7726,-4.1005,63.55,74,100,6.98,2022-12-10 20:08:36
4,Sharjah,AE,25.3573,55.4033,76.98,41,0,11.50,2022-12-10 20:08:37

In [24]:
# Display the data types of each column by using the dtypes Pandas function
city_data_df.dtypes

City           object
Country        object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Date           object
dtype: object

## Export the DataFrame as a CSV file, and save it as `WeatherPy_Database.csv` in the `Weather_Database` folder.

In [32]:
# Set the output file name
output_data_file = "WeatherPy_Database"

# Export the city_data DataFrame into a CSV file
city_data_df.to_csv(output_data_file, index="WeatherPy_Database.csv")